{% extends "base.html" %}
{% load i18n static %}
{% block styles %}<link rel="stylesheet" type="text/css" href='{% static "css/style-exam-app.css" %}'>{% endblock %}

{% load quiz_tags %}

{% block head_title %} Examen de ingreso | IESC {% endblock %}
{% block description %} {{ quiz.title }} - {{ quiz.description }} {% endblock %}
{% block body-class %}quiz questions{% endblock body-class %}

{% block content %}

{% if previous.answers %}
	<!-- DISABLE -->
  <!-- <p class="muted"><small>{% trans "Pregunta anterior" %}:</small></p>
  <p>{{ previous.previous_question }}</p>

  {% if previous.previous_outcome %}
	<div class="alert alert-success">
  {% else %}
	<div class="alert alert-warning">
  {% endif %}
  	  <p><small>
		{% trans "Tu respuesta fue" %} </small>
		<strong>
		  {{ previous.previous_outcome|yesno:"correcto,incorrecto" }}
		</strong>
	  </p>

	</div>

	{% include 'correct_answer.html' %}

	<p><strong>{% trans "Explicación" %}:</strong></p>
	<div class="well" style="background-color: #fcf8e3;">
	  <p class="white-block">{{ previous.previous_question.explanation }}</p>
	</div>

	<hr> -->

{% endif %}

<br />

{% if question %}
<div class="row quiz">
<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">



<h2>
  <!-- <small class="muted">{% trans "Categoría" %}:</small> -->
  {{ question.category }}
</h2>
{% if progress %}
<div style="" class="white-block progress-question">
{% trans "Pregunta" %} {{ progress.0|add:1 }} / {{ progress.1 }}
</div>
{% endif %}
<p class="question white-block">{{ question.content }}</p>

{% if question.explanation %}
	<div class="white-block complement-question">{{ question.explanation|safe }}</div>
{% endif %}

</div>
{% if question.figure %}
<div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1" style="    margin-bottom: 15px;">
    <img src="{{ question.figure.url }}" alt="{{ question.content }}" class="image-question" />
</div>
{% endif %}
<div class="col-md-8 col-md-offset-2 options-answer col-sm-10 col-sm-offset-1">

<form action="" method="POST">{% csrf_token %}
  <input type=hidden name="question_id" value="{{ question.id }}">
<div class="option-list">
  <ul class="list-group">

	{% for answer in form.answers %}
	  <li class="list-group-item">
	    {{ answer }}
	  </li>
	{% endfor %}

  </ul>
  </div>
 <div class="btn-wrapp"> <input type="submit" value={% trans "Siguiente" %} class="btn btn-next" ></div>
</form>

</div>
</div>

{% endif %}




{% endblock %}
