{% extends "base.html" %}
{% load i18n %}

{% load quiz_tags %}

{% block title %} {{ quiz.title }} {% endblock %}
{% block description %} {{ quiz.title }} - {{ quiz.description }} {% endblock %}

{% block content %}

<div class="white-block">
{% if user.is_authenticated %}
  <p>{% trans "Solamente se permite presentar este exámen en una ocasión" %}.</p>
  <a href="/quiz">Volver</a>
{% else %}
  <p>{% trans "Este exámen es solo para usuarios registrados" %}.</p>
{% endif %}
</div>
{% endblock %}
