{% extends "base.html" %}
{% load i18n static %}
{% block styles %}<link rel="stylesheet" type="text/css" href='{% static "css/style-exam-app.css" %}'>{% endblock %}
{% load quiz_tags %}

{% block head_title %} Examen de ingreso | IESC {% endblock %}
{% block description %} {{ quiz.title }} - {{ quiz.description }} {% endblock %}
{% block body-class %}quiz complete{% endblock body-class %}

{% block content %}
<div class="row quiz">
<div class="col-sm-8 col-sm-offset-2 text">
<div class="white-block">
{% if user.is_authenticated %}
  <p>{% trans "Ya has presentado este examen" %}.</p>
  <p>{% trans "Continua tu proceso para iniciar"%} <br class="hidden-xs">{% trans "clases en agosto."%}</p>
  <div class="btn-wrapp"><a class="btn btn-next" href="/simulator">Volver</a></div>
{% else %}
  <p>{% trans "Este examen es solo para usuarios registrados" %}.</p>
  <p style="font-size: 22px;"><a class="link-text" href="/accounts/login/"><b>Ingresa a tu cuenta</b></a>, Si aún no te has registrado, <a class="link-text" href="/accounts/signup/"><b>crea tu cuenta</b></a>.</p>
{% endif %}
</div>
</div>
</div>
{% endblock %}
